<%- include('../partials/header') %>
<h2>Enter a New Flight</h2>
<form id="new-flight" action="/flights" method="POST">
    <label>Airline:
       <input type="text" name="airline">
    </label><br>
    <label>Airport:
        <input type="text" name="airport">
    </label><br>
    <label>Flight Number:
        <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
        <input type="date" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
</form>
<p><%= errorMsg %></p>
<%- include('../partials/footer') %>